.home{
    font-family: 'poppins', sans-serif;
}
.home h1{
    font-size: 2rem;
    font-weight: 200;
    margin-left: 3rem;
    margin-top: 2rem;
}
.products{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-row: 5;
    grid-column: span;
}
.card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 1rem;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.card:hover{
    transform: scale(1.05);
}   
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.p_info{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: left;
}
.p_info button{
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #e6bc01;
    cursor: pointer;
    transition: 0.3s;
}
.p_info p{
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 0.5rem;
}